<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="eid_root_menu"
        name="Eid Reader"
        sequence="1"
        web_icon="be_id_reader,static/description/odoo_icon.png"
        />

    <menuitem
        id="settings_menu_root"
        parent="eid_root_menu"
        name="Install"
        sequence="20"/>

</odoo>